{% extends 'base.html' %}
{% load static %}
{% block body %}

<main id="main">
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">About Smart Buy Spectrum</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>Smart Buy Spectrum simplifies your online shopping experience by providing a centralized hub for comparing product prices, ratings, and more from various eCommerce websites. Our platform empowers users to make informed decisions quickly and efficiently.</p>
        </div>
      </div>
    </div>
  </section>

</main>

{% include 'footer.html' %}
{% endblock %}
